.circle {
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background: #50439f;
  /* opacity: 0; */
  scale: 1.3;
  animation: move-to-center 2s ease-in-out infinite;
}
.circle::before {
  content: '';
  position: absolute;
  top: 2px;
  right: 2px;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  background: #6b5ad1;
}
.circle::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #fff;
}

@keyframes move-to-center {
  to {
    /* opacity: 1; */
    scale: 0;
    transform: translate(0, 0);
  }
}

.circle:nth-child(1) {
  transform: rotate(calc(1 / 9 * 720deg)) translateX(3.3em);
  animation-delay: calc(0 / 9 * 3s);
}

.circle:nth-child(2) {
  transform: rotate(calc(2 / 9 * 720deg)) translateX(3.3em);
  animation-delay: calc(1 / 9 * 3s);
}

.circle:nth-child(3) {
  transform: rotate(calc(3 / 9 * 720deg)) translateX(3.3em);
  animation-delay: calc(2 / 9 * 3s);
}

.circle:nth-child(4) {
  transform: rotate(calc(4 / 9 * 720deg)) translateX(3.3em);
  animation-delay: calc(3 / 9 * 3s);
}

.circle:nth-child(5) {
  transform: rotate(calc(5 / 9 * 720deg)) translateX(3.3em);
  animation-delay: calc(4 / 9 * 3s);
}

.circle:nth-child(6) {
  transform: rotate(calc(6 / 9 * 720deg)) translateX(3.3em);
  animation-delay: calc(5 / 9 * 3s);
}

.circle:nth-child(7) {
  transform: rotate(calc(7 / 9 * 720deg)) translateX(3.3em);
  animation-delay: calc(6 / 9 * 3s);
}

.circle:nth-child(8) {
  transform: rotate(calc(8 / 9 * 720deg)) translateX(3.3em);
  animation-delay: calc(7 / 9 * 3s);
}

.circle:nth-child(9) {
  transform: rotate(calc(9 / 9 * 720deg)) translateX(3.3em);
  animation-delay: calc(8 / 9 * 3s);
}
