@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgWhite: #f3f4ee;
  --bgViolet: #edebf5;
  --bgYellow: #f5e9cc;
  --beige: #fff6c5;
  --violet: #6b5ad1;
  --lightViolet: #958ac4;
  --lightViolet2: #cac4e2;
  --textViolet: #2f245e;
  --red: #e93405;
  --yellow: #ffab0b;
}

body.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  flex: 1 1 auto;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-[2920px] px-[20px] md:px-[40px] lg:px-[64px] 2xl:px-[80px] 3xl:px-[120px];
  }
  .title-gradient {
    @apply bg-gradient-to-r from-[rgb(114,99,177)] to-[rgb(47,36,94)] bg-clip-text text-transparent;
  }
  .founders-gradient {
    @apply bg-gradient-to-r from-[rgb(114,99,177)] to-[rgb(47,36,94)] bg-clip-text text-transparent;
  }
}
