@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --beige: #fff6c5;
  --violet: #6b5ad1;
}

body > .lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  flex: 1 1 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
