@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bgWhite: #f3f4ee;
  --bgViolet: #edebf5;
  --bgVioletTransparent: rgba(237, 235, 245, 0.5);
  --bgYellow: rgba(255, 171, 11, 0.15);
  --beige: #fff6c5;
  --violet: #6b5ad1;
  --lightViolet: #958ac4;
  --mainViolet: #50439f;
  --darkGrey: #4d4d4d;
  --btnDisabledBg: #e3e3e4;
  --btnDisabledText: #97979a;
  --lightVioletSecond: #cac4e2;
  --textViolet: #2f245e;
  --red: #e93405;
  --yellow: #ffab0b;
  --blueOverlayGradient: linear-gradient(
    330deg,
    rgba(80, 67, 159, 0.45) -42.77%,
    rgba(166, 215, 230, 0.75) -37.54%,
    rgba(47, 36, 94, 0.75) 73.17%
  );
  --redOverlayGradient: linear-gradient(
    330deg,
    rgba(233, 52, 5, 0.45) -43.69%,
    rgba(233, 52, 5, 0.75) -32.92%,
    rgba(47, 36, 94, 0.75) 100.61%
  );
  --yellowOverlayGradient: linear-gradient(
    330deg,
    rgba(255, 171, 11, 0.45) -43.69%,
    rgba(255, 171, 11, 0.75) -32.92%,
    rgba(47, 36, 94, 0.75) 100.61%
  );
  --blueCardGradient: linear-gradient(
    330deg,
    rgba(80, 67, 159, 0.45) -43.69%,
    rgba(80, 67, 159, 0.75) -32.92%,
    rgba(80, 67, 159, 0.6) 100.61%
  );

  --redCardGradient: linear-gradient(
    330deg,
    rgba(233, 52, 5, 0.45) -43.69%,
    rgba(233, 52, 5, 0.75) -32.92%,
    rgba(233, 52, 5, 0.6) 100.61%
  );
  --yellowCardGradient: linear-gradient(
    330deg,
    rgba(255, 171, 11, 0.45) -43.69%,
    rgba(255, 171, 11, 0.75) -32.92%,
    rgba(255, 171, 11, 0.6) 100.61%
  );
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body.lock {
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  flex: 1 1 auto;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container {
    @apply mx-auto w-full max-w-[1920px] px-[20px] md:px-[64px] lg:px-[64px] xl:px-[80px] 2xl:px-[120px];
  }
  .title-gradient {
    @apply bg-gradient-to-r from-[rgb(114,99,177)] to-[rgb(47,36,94)] bg-clip-text text-transparent;
  }
  .founders-gradient {
    @apply bg-gradient-to-r from-[rgb(114,99,177)] to-[rgb(47,36,94)] bg-clip-text text-transparent;
  }
  .text-gradient {
    @apply bg-gradient-to-r from-[rgb(47,36,94)] to-[rgb(80,67,159)] bg-clip-text text-transparent;
  }
  .basic-transition {
    @apply transition-all duration-300 ease-in;
  }
}

.sideText {
  writing-mode: vertical-lr;
  text-orientation: mixed;
}

.text-decoration-skip-ink {
  text-decoration-skip-ink: none;
}

.footer-bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
  display: none;
}

input[type='password']::-webkit-textfield-decoration-container {
  display: none;
}

input[type='password']::-webkit-input-placeholder {
  background: none;
  -webkit-appearance: none;
}

input[type='password']::-moz-placeholder {
  background: none;
}

input[type='password']::-ms-input-placeholder {
  background: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selectIcon {
  appearance: none;
  background-image: url('/icons/admin/caret-down.svg');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 24px 24px;
}
.uploadIcon {
  appearance: none;
  background-image: url('/icons/admin/upload.svg');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 24px 24px;
}

.editIcon {
  appearance: none;
  background-image: url('/icons/admin/edit.svg');
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 24px 24px;
}

.break-word {
  word-wrap: break-word; /* или overflow-wrap: break-word; */
}

/* .text-size-adjust-100 {
   -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  height: fit-content;
  text-rendering: optimizeLegibility; 
  -webkit-font-smoothing: antialiased; 
  -webkit-text-size-adjust: 100%;

} */